@using AdminProject.Services.Models
@using Sihirdar.DataAccessLayer
@using Sihirdar.DataAccessLayer.Infrastructure.Models
@model UserSearchRequestDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Search";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest">
                <div class="title-alt">
                    <h6>
                        User Search
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#searchJob">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="searchJob">
                    <form action="/Admin/User/List" method="get">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Surname, new { placeholder = "Surname", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.UserTypes, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Take, (SelectList)ViewBag.TakeList, new { @class = "form-control" })
                                    </td>
                                    <td><button type="submit" class="btn btn-success btn-block">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="nest" id="FootableClose">
                <div class="title-alt">
                    <h6>
                        Users
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Footable">
                    <table class="table-striped footable-res footable metro-blue">
                        <thead>
                            <tr>
                                <th>
                                    Name Surname
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Last Login
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Options
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var user in ((PagerList<User>)ViewBag.Users).List)
                                {
                                    <tr>
                                        <td>@user.Name @user.Surname</td>
                                        <td>@user.Email</td>
                                        <td>@user.LastLoginDate.ToString("dd.MM.yyyy HH:mm:ss") </td>
                                        <td>
                                            <span class="@(user.Status == UserStatusTypes.Active ? "status-metro status-active" : "status-metro status-suspended")">
                                                @(user.Status == UserStatusTypes.Active ? "Active" : user.Status.ToString())
                                            </span>
                                        </td>
                                        <td style="width: 140px;">
                                            <a href="/Admin/User/Detail/@user.Id" class="btn btn-default commentDetail" data-toggle="tooltip" data-placement="top" title="Detail View"><i class="fa fa-eye"></i></a>
                                            <a href="/Admin/User/Edit/@user.Id" class="btn btn-default commentDetail" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="/Admin/User/Delete/@user.Id" class="btn btn-danger commentDetail" onclick="return confirm('Are you sure you want to continue?')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered">
                                        <ul>
                                            @{
                                                var recordCount = ((PagerList<User>)ViewBag.Users).TotalCount;
                                                var pageCount = recordCount / Model.Take + 1;

                                                var url = ViewBag.UrlAddress;
                                                for (var i = 1; i < pageCount + 1; i++)
                                                {
                                                    <li class="footable-page">
                                                        <a href="@string.Format("{0}&Skip={1}", url, i)">@(i)</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div style="float: right; color:black;">
                                        There are @recordCount records in total.
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>