@model Sihirdar.DataAccessLayer.Infrastructure.Models.Admin

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-md-6">
            <div class="nest" id="basicClose">
                <div class="title-alt">
                    <h6>Admin</h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#basic">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="basic">
                    <form role="form" action="/Admin/Admin/Edit/@Model.Id" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="AdminType">AdminType</label>
                            @Html.DropDownListFor(model => model.AdminType, ViewBag.AdminTypeList as SelectList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            @Html.HiddenFor(model => model.Id)
                            @Html.TextBoxFor(model => model.Name, new { placeholder = "Sample: John Doe", @class = "form-control validate[required,minSize[3]", maxlength = "20" })
                        </div>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            @Html.TextBoxFor(model => model.Username, new { placeholder = "Sample: johndoe", @class = "form-control validate[required,minSize[3]", maxlength = "20" })
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control validate[required, minSize[6]", maxlength = "20", name = "password" })
                        </div>
                        <div class="form-group">
                            <label for="Password2">Password Again</label>
                            @Html.TextBox("Password2", Model.Password, new { @type = "password", @class = "form-control validate[required, minSize[6],equals[Password]", maxlength = "20" })
                        </div>
                        <div class="form-group">
                            <label for="Facebook">Facebook</label>
                            @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Twitter">Twitter</label>
                            @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Motto">Motto</label>
                            @Html.TextBoxFor(model => model.Motto, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Picture">Picture</label>
                            @Html.TextBoxFor(model => model.Picture, new { @class = "form-control", type = "file" })
                            @if (!string.IsNullOrEmpty(Model.Picture))
                            {
                                <img src="/Content/@Model.Picture" />
                            }
                        </div>
                        <div class="form-group">
                            <label for="MasterMenu">Authorization</label>
                            <div class="skin skin-line">
                                <ul class="list" style="padding:0;">
                                    <li>
                                        <input type="checkbox" id="MasterMenu" name="MasterMenu" value="true" @(Model.Authorization.Contains("Master") ? "checked=\"checked\"" : "")>
                                        <label for="MasterMenu">Master Menu</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="MediaMenu" name="MediaMenu" value="true" @(Model.Authorization.Contains("Media") ? "checked=\"checked\"" : "")>
                                        <label for="MediaMenu">Media Menu</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="SettingMenu" name="SettingMenu" value="true" @(Model.Authorization.Contains("Setting") ? "checked=\"checked\"" : "")>
                                        <label for="SettingMenu">Setting Menu</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="Status">Status</label>
                            @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-info" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>