@model Sihirdar.DataAccessLayer.Infrastructure.Models.Gallery

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-md-6">
            <form role="form" action="/Admin/Gallery/Add" method="post" enctype="multipart/form-data">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>Gallery</h6>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#basic">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="form-group">
                            <label for="GameType">Game Type</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.DropDownListFor(model => model.GameType, ViewBag.GameTypeList as SelectList, new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Name, new { placeholder = "Sample: Office", @class = "form-control  validate[required,minSize[3]", maxlength = "200" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Definition">Definition</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextAreaFor(model => model.Definition, new { placeholder = "Sample: gallery info", @class = "form-update" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nest" id="basicClose2">
                    <div class="title-alt">
                        <h6>Seo</h6>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#seo">
                                <span class="entypo-down-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="seo">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Keyword">Keyword</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Tags">Tags</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Tags, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Url">Url</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@TempData["LanguageTag"]</span>
                                @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nest">
                    <div class="title-alt">
                        <h6>Upload</h6>
                    </div>
                    <div class="body-nest">
                        <div class="form-group">
                            <input type="file" name="FileUpload" class="validate[required] multi with-preview max-20 accept-gif|jpg|png|jpeg|bmp maxsize-10240" />
                        </div>
                    </div>
                </div>

                <div class="nest">
                    <div class="title-alt">
                        <h6>Save</h6>
                    </div>
                    <div class="body-nest">
                        <div class="form-group" style="display: none;">
                            <label for="SequenceNumber">Sequence Number</label>
                            @Html.TextBoxFor(model => model.SequenceNumber, new { @class = "form-control", @Value = "99" })
                        </div>
                        <div class="form-group">
                            <label for="Status">Status</label>
                            @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>