@using Sihirdar.DataAccessLayer
@model IEnumerable<Sihirdar.DataAccessLayer.Infrastructure.Models.LiveBroadcast>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="nest" id="FootableClose">
                <div class="title-alt">
                    <h6>
                        Live Broadcast
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Footable">
                    <p class="lead well">Please note that other languages when the data update.</p>
                    <table class="table-striped footable-res footable metro-blue" data-page-size="20">
                        <thead>
                            <tr>
                                <th>Game Type</th>
                                <th>Name</th>
                                <th>Live</th>
                                <th>Status</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var live in Model)
                                {
                                    <tr>
                                        <td>@live.GameType.ToString()</td>
                                        <td>@live.Name</td>
                                        <td>
                                            <span class="@(live.Live ? "status-metro status-active" : "status-metro status-suspended")">
                                                @(live.Live ? "Live" : "Offline")
                                            </span>
                                        </td>
                                        <td>
                                            <span class="@(live.Status == StatusTypes.Active ? "status-metro status-active" : "status-metro status-suspended")">
                                                @(live.Status == StatusTypes.Active ? "Active" : "Deactive")
                                            </span>
                                        </td>
                                        <td style="width:100px;">
                                            <a href="/Admin/LiveBroadcast/Edit/@live.Id" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                            <a href="/Admin/LiveBroadcast/Delete/@live.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to continue?')"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>